<form class="farm-list" @submit.prevent="searchFarms">
  <div class="farm-search panel">
    <div class="farm-search__parameters">
      <div class="mui-textfield">
        <input class="farm-search__field" id="farm-search__field" type="text" placeholder="כתובת מגורים">
      </div>
    </div>
    <div class="farm-search__buttons">
      <button class="mui-btn mui-btn--raised mui-btn--primary" type="submit">חיפוש</button>
      <button class="mui-btn mui-btn--raised mui-btn--blue" @click.prevent="getUserLocation">שימוש במיקום נוכחי</button>
    </div>
  </div>
  <div class="farm-search__filters panel" v-if="farms.length > 0">
    <label for="select-radius" class="select-radius-label">רדיוס חיפוש (בק״מ):
      <select v-model="radius" id="select-radius" @change="getClosestFarms">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>40</option>
        <option>60</option>
        <option>80</option>
      </select>
    </label>
  </div>
  <!-- <div v-if="!loaded && farms.length === 0" class="spinner"></div> -->
  <div v-if="loaded && farms.length === 0" class="panel">
    לא נמצאו משקים באיזורך 😢
  </div>
  <farm-card v-for="farm in farms" :farm="farm" :key="farm.key" :current-location="currentLocation"></farm-card>
</form>
