<form class="add-farm" @submit.prevent="validateBeforeSubmit">
  <div class="mui-textfield" :class="{ 'error': errors.has('farm-name') }">
    <input v-model="name" id="farm-name" name="farm-name" v-validate data-vv-rules="required" type="text" placeholder="שם המשק / חקלאי">
    <label for="farm-name">שם המשק</label>
    <span v-show="errors.has('farm-name')" class="error-help">{{ errors.first('farm-name') }}</span>
  </div>

  <div class="mui-textfield" :class="{ 'error': errors.has('location') }">
    <input id="location" name="location" v-validate data-vv-rules="required" type="text" placeholder="כתובת המשק">
    <label for="location">מיקום</label>
    <span v-show="errors.has('location')" class="error-help">{{ errors.first('location') }}</span>
  </div>

  <div class="mui-textfield" :class="{ 'error': errors.has('phone') }">
    <input v-model="phone" id="phone" name="phone" v-validate data-vv-rules="required|alpha_dash" type="tel" placeholder="טלפון המשק">
    <label for="phone">טלפון</label>
    <span v-show="errors.has('phone')" class="error-help">{{ errors.first('phone') }}</span>
  </div>

  <div class="mui-textfield" :class="{ 'error': errors.has('email') }">
    <input v-model="email" id="email" name="email"  v-validate data-vv-rules="email" data-vv-delay="500" type="email" placeholder="אימייל המשק">
    <label for="email">
      אימייל
      <span class="label-optional">(אופציונאלי)</span>
    </label>
    <span v-show="errors.has('email')" class="error-help">{{ errors.first('email') }}</span>
  </div>

  <div class="mui-textfield" :class="{ 'error': errors.has('website') }">
    <input type="url" v-validate data-vv-rules="url" id="website" name="website" placeholder="אתר אינטרנט">
    <label for="website">
      אתר אינטרנט
      <span class="label-optional">(אופציונאלי)</span>
    </label>
    <span v-show="errors.has('website')" class="error-help">{{ errors.first('website') }}</span>
  </div>

  <div class="mui-textfield" :class="{ 'error': errors.has('facebook') }">
    <input type="url" v-validate data-vv-rules="url" id="facebook" name="facebook" placeholder="כתובת עמוד הפייסבוק">
    <label for="facebook">
      עמוד פייסבוק
      <span class="label-optional">(אופציונאלי)</span>
    </label>
    <span v-show="errors.has('facebook')" class="error-help">{{ errors.first('facebook') }}</span>
  </div>

  <div class="mui-checkbox">
    <label>
    <input type="checkbox" value="">
    אורגני
    </label>
  </div>
  <div class="mui-checkbox">
    <label>
    <input type="checkbox" value="">
    משלוחים
    </label>
  </div>
  <div class="mui-checkbox">
    <label>
    <input type="checkbox" value="">
    מכירה ישירה במשק
    </label>
  </div>
  <div class="mui-checkbox">
    <label>
    <input type="checkbox" value="">
    רכישה באינטרנט
    </label>
  </div>

  <div class="form-submit">
    <button type="submit" :disabled="errors.any()" class="mui-btn mui-btn--raised mui-btn--primary">הוספת משק</button>
  </div>
</form>
