@import "../../../assets/vendor/mui/textfield";
@import "../../../assets/vendor/mui/checkbox-and-radio";
@import "../../../assets/vendor/mui/button";
@import "../../../assets/scss/mixins";

.add-farm {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
  -webkit-tap-highlight-color: transparent;

  label {
    font-weight: bold;
  }

  .label-optional {
    font-weight: normal;
  }

  @include respond-at(600px) {
    max-width: 600px;
    margin: 0 auto;
  };

  @include respond-at(768px) {
    .mui-textfield {
      label {
        font-size: 14px;
      }

      input {
        margin-top: 2px;
        font-size: 19px;
      }
    }

    .mui-checkbox {
      font-size: 17px;
    }
  };
}

.form-submit {
  display: flex;
  justify-content: flex-end;

  .mui-btn {

    @include respond-at(768px);
    font-size: 16.5px;
  }
}

.error {
  // Override muicss
  input, input:focus {
    border-bottom-color: red;

    ~ label {
      color: red;
    }
  }
}
