@import "../../../assets/vendor/mui/textfield";
@import "../../../assets/vendor/mui/checkbox-and-radio";
@import "../../../assets/vendor/mui/button";
@import "../../../assets/scss/mixins";

.add-farm {

}

.form-submit {
  display: flex;
  justify-content: flex-end;
}

.error {
  // Override muicss
  input, input:focus {
    border-bottom-color: red;

    ~ label {
      color: red;
    }
  }
}
